h5.warning #{__i('disclaimer')}
ul.textMini
	li
		span #{__i('due to heavy development on polenta code, this site is intended for testing purpose only')}
	li
		span #{__i('everything saved on this server (applications settings, data, even users) could be deleted without any warning. this could be required by structural changes in polenta source code, or by unappealable decision of source code authors')}
	li
		span #{__i('we take no responsibility, of any kind, on your data. just use this site for testing please')}
	li
		span #{__i('when this platform will enter in production phase, you will be warned')}
